*~
*.o
*.a
.sconf_temp
.sconsign.dblite
asc2cdf/asc2cdf
asc2cdf_HRT/asc2cdfH
config.log
flt_time/flt_time
mkcdf/mkcdf
n2asc/n2asc
ncReorder/ncReorder
nc_compare/nc_compare
nc_compare/nc_compare.1
nc_compare/nc_compare.exe
nc_dips/nc_dips
nc_gap/nc_gap
nc_sane/nc_sane
ncav/ncav
ncextr/ncextr
nc2iwg1/nc2iwg1
ncfillvar/ncfillvar
ncmerge/ncmerge
ncvarlist/ncvarlist
